DATABASE_URL=postgresql://user:password@host:5432/database
JWT_SECRET_KEY=Nh5SgH5FXOKj/qcLHnYGJa08c7WqAld1gvTwk7xQqCv3PVdmJN/cKaml0aGujY69
GROQ_API_KEY=replace-with-your-groq-key
CORS_ORIGINS=https://ai-video-summarizer-3.vercel.app
UPLOAD_DIR=./uploads
WHISPER_MODEL=tiny
